<form id="createPollForm" style="padding:10px;">
    <input type="hidden" name="poll_parent" value="{{data.poll_parent}}">
    <p>Название голосования</p>
    <input type="text" id="poll_title" name="poll_title" style="width:315px;" value="{{data.poll_title}}">
    <br>
    <table>
        <tr>
            <td>
                <p>Начало голосования</p>
                <input type="text" id="poll_begin" name="poll_begin" style="width:158px;" value="{{data.poll_begin}}">
            </td>
            <td>
                <p>Конец голосования</p>
                <input type="text" id="poll_end" name="poll_end" style="width:158px" value="{{data.poll_end}}">
            </td>
        </tr>
    </table>
    <p>Выбор вариантов</p>
    <input type="text" name="max_votes" id="max_votes" value="{{data.poll_properties.max_votes}}" style="width:50px">
    <br>
    <p>Активно: 
        <input type="checkbox" name="poll_isactive" value="1"{{#ifCond data.poll_isactive "1"}} checked{{/ifCond}}>
    </p>
    <p>Только для пользователей: 
        <input type="checkbox" name="users_only" value="1"{{#ifCond data.poll_properties.users_only "1"}} checked{{/ifCond}}>
    </p>
    <p>Тайное голосование: 
        <input type="checkbox" name="hide_results" value="1"{{#ifCond data.poll_properties.hide_results "1"}} checked{{/ifCond}}>
    </p>
</form>